{% extends 'base.html.twig' %}

{% block title %}Accueil - Brasil Burger{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Brasil Burger - Gestion des Commandes</h1>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gestion des Commandes</h5>
                    <p class="card-text">Gérer, suivre et mettre à jour les commandes</p>
                    <a href="{{ path('app_order_index') }}" class="btn btn-primary">Accéder</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Statistiques</h5>
                    <p class="card-text">Voir les statistiques journalières</p>
                    <a href="{{ path('app_stats_index') }}" class="btn btn-primary">Accéder</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
