{% extends 'base.html.twig' %}

{% block title %}Brasil Burger{% endblock %}

{% block body %}
<div style="text-align: center; padding: 50px;">
    <h1>{{ message }}</h1>
    <p>Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</p>
    <ul style="list-style: none;">
        <li><a href="{{ path('app_order_index') }}">Gestion des Commandes</a></li>
        <li><a href="{{ path('app_stats_index') }}">Statistiques</a></li>
    </ul>
</div>
{% endblock %}
