{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Statistiques du Jour</h1>
    
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5>Commandes en cours</h5>
                    <h2>{{ orders_in_progress }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5>Commandes validées</h5>
                    <h2>{{ validated_orders }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5>Recettes</h5>
                    <h2>{{ daily_revenue }} FCFA</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5>Commandes annulées</h5>
                    <h2>{{ cancelled_orders }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
